/* index_medikua.css */

.menu-orria {
    background-color: var(--light-bg);
}

/* Specific doctor dashboard tweaks if any */
.kaixo-atalak {
    border-left-color: var(--primary-color);
}

.menu-txartela {
    border-bottom-color: var(--primary-color);
}

.irteera-txartela {
    border-bottom-color: var(--danger-color);
}
