/* index_harrera.css */

/* Harrerako aginte-paneleko doikuntza espezifikoak */
.kaixo-atalak {
    border-left-color: var(--secondary-color);
}

.menu-txartela {
    border-bottom: 5px solid var(--secondary-color);
}

.irteera-txartela {
    border-bottom-color: var(--danger-color);
}
